<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rjp.expandframework"
    >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"
        />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.utilcode.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            >

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"
                />
        </provider>

        <activity
            android:name=".activitys.ForResultActivity"
            android:theme="@android:style/Theme.Translucent"
            >
        </activity>

        <activity
            android:name=".activitys.PermissionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            >
        </activity>

        <activity
            android:name="com.rjp.expandframework.utils.photo.PhotoMiddleActivity"
            android:theme="@android:style/Theme.Translucent"
            >
        </activity>
    </application>

</manifest>