<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rjp.fastframework">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RVActivity"></activity>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="frame"
                    android:path="/home"
                    android:scheme="fast" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".live.LiveStartActivity" />
        <activity android:name=".live.LiveDetailActivity" />
        <activity android:name=".scroll_view.ScrollMoreActivity" />
        <activity android:name="com.rjp.expandframework.utils.photo.PhotoTestActivity" />
        <activity android:name=".HandlerActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".component.ComponentActivity" />
        <activity android:name=".component.NextActivity" />
        <activity android:name=".TestAnimActivity" />
        <activity android:name=".PermissionActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoViewActivity" />
        <activity android:name=".mvvm.MvvmActivity" />
        <activity android:name=".mvvm.MvvmSecondActivity" />
    </application>

</manifest>